@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}


/* default variables start*/
:root {
    --blue: #032f5a;
    --red: #ed1c24;
    --white: #ffffff;
    --black: #000000;
    --grey: grey; 
}

/* default variables end*/

/* utility classes start */
.d-flex{
    display: flex;
    align-items: center;
}
.gap-1{
    gap: 25px;
}
.gap-2{
    gap: 30px;
}
.gap-3{
    gap: 35px;
}
.gap-4{
    gap: 40px;
}
.gap-5{
    gap: 45px;
}
.wrap{
    flex-wrap: wrap;
}
.justify-center{
    justify-content: center;
}
.justify-around{
    justify-content: space-around;
}
.justify-between{
    justify-content: space-between;
}
.justify-evenly{
    justify-content: space-evenly;
}
.align-center{
    align-items: center;
}
.align-start{
    align-items: flex-start;
}
.align-end{
    align-items: flex-end;
}
.mt-1{
    margin-top: 5px;
}
.mt-2{
    margin-top: 10px;
}
.mt-3{
    margin-top: 15px;
}
.mt-4{
    margin-top: 20px;
}
.mt-5{
    margin-top: 25px;
}
.mt-6{
    margin-top: 30px;
}
.mt-7{
    margin-top: 35px;
}

.mb-1{
    margin-bottom: 5px;
}
.mb-2{
    margin-bottom: 10px;
}
.mb-3{
    margin-bottom: 15px;
}
.mb-4{
    margin-bottom: 20px;
}
.mb-5{
    margin-bottom: 25px;
}
.ml-1{
    margin-left: 5px;
}
.ml-2{
    margin-left: 10px;
}
.ml-3{
    margin-left: 15px;
}
.ml-4{
    margin-left: 20px;
}
.ml-5{
    margin-left: 25px;
}
.mr-1{
    margin-right: 5px;
}
.mr-2{
    margin-right: 10px;
}
.mr-3{
    margin-right: 15px;
}
.mr-4{
    margin-right: 20px;
}
.mr-5{
    margin-right: 25px;
}
.m-1{
    margin: 5px;
}
.m-2{
    margin: 10px;
}
.m-3{
    margin: 15px;
}
.m-4{
    margin: 20px;
}
.m-5{
    margin: 25px;
}
.pt-1{
    padding-top: 5px;
}
.pt-2{
    padding-top: 10px;
}
.pt-3{
    padding-top: 15px;
}
.pt-4{
    padding-top: 20px;
}
.pt-5{
    padding-top: 25px;
}
.pb-1{
    padding-bottom: 5px;
}
.pb-2{
    padding-bottom: 10px;
}
.pb-3{
    padding-bottom: 15px;
}
.pb-4{
    padding-bottom: 20px;
}
.pb-5{
    padding-bottom: 25px;
}
.pl-1{
    padding-left: 5px;
}
.pl-2{
    padding-left: 10px;
}
.pl-3{
    padding-left: 15px;
}
.pl-4{
    padding-left: 20px;
}
.pl-5{
    padding-left: 25px;
}
.pl-6{
    padding-left: 30px;
}
.pl-7{
    padding-left: 35px;
}
.pr-1{
    padding-right: 5px;
}
.pr-2{
    padding-right: 10px;
}
.pr-3{
    padding-right: 15px;
}
.pr-4{
    padding-right: 20px;
}
.pr-5{
    padding-right: 25px;
}
.p-1{
    padding: 5px;
}
.p-2{
    padding: 10px;
}
.p-3{
    padding: 15px;
}
.p-4{
    padding: 20px;
}
.p-5{
    padding: 25px;
}
.w-1{
     width:30px
}
.w-2{
     width:90px
}
.w-3{
     width:120px
}
.w-4{
     width:150px
}
.w-5{
     width:200px
}

.text-sm{
    font-size: 15px;
}
.text-md{
    font-size: 20px;
}
.text-lg{
    font-size: 25px;
}
.text-xl{
    font-size: 30px;
}
.rounded-1{
    border-radius: 20px;
}
.rounded-2{
    border-radius: 30px;
}
.rounded-3{
    border-radius:35px;
}
.text-white{
    color: white;
}
.text-black{
    color: black;
}
.text-center{
    text-align: center;
}
.text-red{
    color: var(--red);
}


/* utility classes end */
/* body work start */
body{
    background-color: var(--black);
}
/* body work end  */

/* logo work start */
.logo{
    width: 140px;
    height: 64px;
    margin-left: 62px;
}
/* logo work end */
/* navbar work start  */
li ,a{
    list-style: none;
    text-decoration: none;
    letter-spacing: 1px;
    color: var(--white);
}
li:hover{
    background-color: var(--red);
    padding: 5px 10px;
    border-radius: 14px;
    cursor: pointer;
    
}
 .nav-btn{
    background-color: var(--red);
    width: 170px;
    border: 1px solid var(--black);
    cursor: pointer;
}
.icon{
    display: none;
    font-size: 2rem;
}
/* responsive desgin navbar start  */
@media(max-width:1200px){
    .items{
        display: none;
    }
    .icon{
        display: block;
    }
}
@media(max-width:400px){
    .logo{
        width: 100px;
        height: 50px;
        margin-left: 30px;
    }
    .icon{
        font-size: 28px;
    }
}
@media(max-width:230px){
    .logo{
        width: 80px;
        height: 40px;
        margin-left: 20px;
    }
    .icon{
        font-size: 26px;
    }
}
/* responsive desgin navbar work end  */
/* navbar work end  */


/* carusal work start  */
#carousal{
    width: 100%;
}
/* carousal work end  */



/* choose by category start  */
.card img{
    width: 226px;
    height: 350px;
    object-fit: cover;
}
/* responsive desgin start  */
@media(max-width:340px){
.choose-head{
    font-size:20px;
}
}
@media(max-width:230px){
    .choose-head{
        font-size:15px;
    }
}
/* responsive desgin end  */
/* choose by category work end  */
/* discover work start */

.main-discover{
    background-color: rgb(66, 63, 63);
    margin-top: 20px;
}
.discover-img-2{
    width: 80%;
}
.discover-img-1{
    width: 50%;
}
.discover-para{
    width: 70%;
    font-size: 15px;
}
.discover-content{
    width: 50%;
}
.discover-head{
    color: var(--red);
    font-size: 16px;
    letter-spacing: 5px;
    margin-top: 20px;
    
}
.discover-btn{
    padding: 8px;
    width: 130px;
    border-radius: 10px;
    color: var(--white);
    background-color:  rgb(66, 63, 63);
    border: 1px solid var(--white);
    margin-top: 30px;
}
.discover-btn:hover{
    color: var(--black);
}
/* responsive desgin start  */
@media(max-width:950px){
    .main-discover{
        flex-direction: column;
        }
        .discover-para{
            width: 100%;
        }
        
}
/* discover work end  */


/* deals work start  */
.deals-card{
    width: 250px;
    height: 180px;
    
}
.deals-btn{
    margin-left: 65px;
    margin-right: 40px;
    background-color: var(--red);
    border: 1px solid var(--black);
    color: var(--white);

}
.deal-para{
    font-size: 9px;
    color: var(--white);
}
/* deals work end  */



/* special offer start  */
.special-img{
    width: 50%;
}
.special-img-2{
    width: 100%;
    height: 55%;
}
.special-content{
    width: 50%;
}
.special-main{
    background-color: rgb(66, 63, 63);
    /* height: 345px; */
}
.special-btn{
    background-color: var(--red);
    border: 1px solid var(--red);
     
}
#special-text{
    letter-spacing: 5px;
    font-size: 16px;
}

/* responsive desgin start  */
@media(max-width:700px){
    .special-main{
        flex-direction: column;
    }
    .special-content{
        width: 70%;
        
    }
    /* responsive work end  */
}
/* special offer end  */
/* footer work start  */
/* box1 work  */
.box1{
    padding-left: 60px;
}
.foot-para{
    font-size: 13px;
}
/* box 1 work end  */
.footer-main{
    background-color: rgb(66, 63, 63);
    width: 100%;
}
/* box2 work start  */
.box2{
    padding-left: 80px;
    padding-top: 50px;
    padding-bottom: 50px;
    font-size: 12px;
}
/* box 2 work end  */
/* box 3 work start  */
.box3{
    padding-left: 80px;
    padding-top: 50px;
    padding-bottom: 50px;
    font-size: 12px;
}
/* box 3 work end  */
/* box 4 work start  */
.box4{
    padding-left: 80px;
    padding-bottom: 50px;
    
    
}
.foot-follow{
    font-size: 12px;

}
/* box 4 work end  */
/* last footer work start  */
.last-foot-para-1{
    font-size: 12px;
    padding-left: 50px;
    
}
.last-foot-para-2{
    font-size: 12px;
    padding-right: 50px;
    padding-left: 50px;
    
}
/* last footer work end  */












































